
<h2 class="widget-title">SONAR ISSUES <span id="dates"></span> </h2>
<div class="content" style="font-size:29px;">	
			
	 <table style="width:100%">
		  <tr>
			<td class="generalResultsColumn">
				
					<div class="label">Issues:</div>
					<div id="nbIssues"></div>
				
			</td>
			<td>
				<span> <img src="/images/blocker.png" alt="blocker" width="60" height="60"> </span>	
			</td>
			<td>
				<span> <img src="/images/critical.png" alt="critical" width="60" height="60"> </span>	
			</td>
			<td>
				<span> <img src="/images/major.png" alt="major" width="60" height="60"> </span>
			</td>	
			<td>
				<span> <img src="/images/minor.png" alt="minor" width="60" height="60"> </span>
			</td>
					
			<td>
				<span> <img src="/images/info.png" alt="info" width="60" height="60"> </span>
			</td>		
			
		  </tr>
		  <tr>
			<td class="generalResultsColumn">
				<div class="label">Compliance:</div>
				<div id="ruleCompliance"> </div>
			</td>
			<td>
				<span id="blockerIssues">  </span>
			</td>			
			<td>
				<span id="criticalIssues">  </span>
			</td>			
			<td>
				<span id="majorIssues">  </span>	
			</td>			
			<td>
				<span id="minorIssues">  </span>	
			</td>		
			<td>
				<span id="infoIssues">  </span>	
			</td>
				
		  </tr>
	</table> 
	
	
	
	
	
	
			
</div>
