<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Arhs - AtlasBoard</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="stylesheets/normalize.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/helpers.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen" />
</head>
<body>
<div id="main-container">
    <h1>Create your dashboard</h1>
    <form method="post">
        <label>Name:</label> <input class="input-lg" pattern="[^_]*" placeholder="AKCT" title="Underscore character is not allowed." name="name" required=required  />
        &nbsp;
        <label>Password:</label> <input class="input-lg" type=password name="password" required=required/>
        &nbsp;
        <input class="button" type=submit value="Create">
    </form>
    <br/>
    <h1>Dashboards</h1>
    <div id="dashboard-list">
        <ul>
            <% dashboards.forEach(function (dashboard) { %>
                <li><a href="<%= dashboard %>"><%= dashboard %></a></li>
            <% }) %>
        </ul>
    </div>
</div>
</body>
</html>
